.Container {
  margin: auto;
  margin-top: 20px;
  padding: 25px;
  border-radius: 5px;
  background-color: #eee9e9;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.Microphone {
  flex: 1;
  width: 400px;
}

.Video {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}


/* Media query para pantallas pequeñas */
@media (max-width: 1000px) {
  .Container {
    max-width: 400px;
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
    align-items: center; /* Centra los elementos de forma vertical */
  }

  .Microphone, .Video {
    flex: none; /* Evita que los elementos crezcan demasiado */
    width: 100%; /* Hace que los elementos ocupen todo el ancho disponible */
    margin: 10px 0; /* Da un poco de espacio entre los elementos */
  }
}
