.navbar{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  background-color: #701154;
  box-shadow: 0px 2px 5px #00000033;
}

.navbar button{
  background-color: #40cbee;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 25px;
}

.navbar h1{
  float: left;
  margin: 20px;
  color: white;
  font-size: 45px;
}

@media (max-width: 700px) {
  .navbar button, .navbar h1{
    float: left;
  }
}