.InstructionsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee9e9;
  padding: 50px;
  border-radius: 5px;
  text-align: left;
}
.Title{
  text-align: center;
}