*{
  margin: 0;
  padding: 0;
}
#root {
  text-align: center;
}
.Home {
  width: 100vw;
  height: 100vh;
  background-image: url('/Images/Background/Fondo.gif');
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}
