.micContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.micButton {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.micButton:hover {
  transform: scale(1.1);
}

.micIcon {
  width: 100px;
  height: 170px;
}

.status {
  margin-top: 10px;
  font-size: 16px;
}

.notes h2{
  text-align: center;
}

.notes {
  width: 320px;
  margin: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.7);
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  max-height: 200px;
}

.notes h2 {
  margin-top: 0;
  font-size: 20px;
  color: #000;
  text-align: center;
}